<!DOCTYPE html>
<html>
<head>
    <title><%= stuff[0].name %> - Svelar </title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <% include templates/navigation.ejs%>

    <% include templates/secondaryheader.ejs%>


    <br>
    <% include templates/searchbar.ejs%>
    <br>

    <hr>

    <div class=“review”>
        <p>
            <button type=“submit” name=“review” value=Review>Write a Review</button>
            <button type=“submit” name=“review” value=like>Like</button>
            <button type=“submit” name=“review” value=dislike>Dislike</button>
        </p>
    </div>

    <p>
        <h2><b><%= stuff[0].name %></b></h2>
        <img src='http://www.svelar.com/images/items/<%= stuff[0].id %>.jpg'>
        <img src='http://www.svelar.com/images/items/<%= stuff[0].id %>.jpg'>
        <% if (stuff[0].svelar == 1) { %>
        <p>Svelar</p>
        <% } %>
        <h3>Ratings</h3>
        <p>Confort:</p>
        <p>Cost:</p>
        <p>Easyness:</p>
    </p>
    <br>

    <h3>Description</h3>
    <pre><%= stuff[0].description %></pre>

    <!--find ways to link keywords -->
    <p>keywords: <a><%= stuff[0].field %></a>, <a><%= stuff[0].type %></a>, <a><%= stuff[0].brand %></a> </p>
    <p><a href="<%= stuff[0].link %>" target="_blank">Product website</a></p>
    <p><a href="<%= stuff[0].buy_link %>" target="_blank">Buy</a></p>

    <!--Need to make review query -->
    <hr/>
    <h3><b>Reviews</b></h3>
    <hr/>

    <!--Need to make foter ad query -->
    <hr/>
    <h3><b>foteer adds</b></h3>
    <hr/>


    <% include templates/footerbar.ejs%>

</body>
</html>