<!DOCTYPE html>
<html>
<head>
    <title>Svelar - review</title>
    <link rel='stylesheet' href='/stylesheets/review.css' />
    <link rel='stylesheet' href='/stylesheets/footer.css' />
    <link rel='stylesheet' href='/stylesheets/secondaryheader.css' />
    <%include templates/meta.ejs%>
    <%include templates/bootstrap.ejs%>
</head>
<body>
<% include templates/navigation.ejs%>
<div class="container-fluid">
    <% include templates/secondaryheader.ejs%>

    <div class="row" id="third">
        <div id="review_title" class="col-md-12">
            <p>Write A Review</p>
        </div>
    </div>

    <div class="row" id="fourth">
        <div id="review_img" class="col-md-6">
            <img src='<%= stuff[0].image_1 %>'>
            <!--
            <img src='/public/images/items/3.jpg'>
            -->
        </div>
        <div id="review_prod" class="col-md-6">
            <h2><b><%= stuff[0].name %> <!-- Product Name --> </b></h2>
            <p>Keywords:
                <a href="/search/try?field=<%= stuff[0].field %>"><%= stuff[0].field %></a>,
                <a href="/search/try?type=<%= stuff[0].type %>"><%= stuff[0].type %></a>,
                <a href="/search/try?brand=<%= stuff[0].brand %>"><%= stuff[0].brand %></a>
                <!--
                <a href="xxxxx">Keyword 1</a>,
                <a href="xxxxx">Keyword 2</a>,
                <a href="xxxxx">Keyword 3</a>
                -->
            </p>
        </div>
    </div>

    <div class="row" id="fifth">
        <div id="your_review" class="col-md-12">
            <p>Your Review</p>
        </div>
    </div>

    <form action="/review" method="post">

        <div class="row" id="sixth">
            <div id="review_col" class="col-md-12">
                <div class="row" id="sixth_one">
                    <div id="your_rating" class="col-md-12">
                        <p> Select Your Rating (1/2 is Terrible; 5 is Awesome!) : </p>
                        <%include templates/stars.ejs%>
                    </div>
                </div>
                <div class="row" id="sixth_two">
                    <div id="review_input" class="col-md-12">
                        <textarea rows="5"  type="text" name="review" placeholder="Write your review here..." required></textarea>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" id="seventh">
            <div id="review_bottom" class="col-md-12">
                <div id="write_review_button" class="col-md-12">
                    <input type="hidden" name="item" value="<%= stuff[0].id %>" />
                    <button type="submit" value="review_prod" id="write_review_button">
                        Post
                    </button>
                    <%if(h) { %>
                    <a href="/">Cancel</a>
                    <% }else{ %>
                    <a href="javascript:history.back()">Cancel</a>
                    <% } %>
                    <p>* All posts can be edited or deleted at anytime.</p>
                </div>
            </div>
        </div>

    </form>

    <% include templates/footerbar.ejs%>

</div>
</body>
</html>