<!DOCTYPE html>
<html>
<head>
    <title>Write a Review - Svelar</title>
    <link rel='stylesheet' href='/stylesheets/review.css' />
</head>
<body onload="check()">
    <% include templates/navigation.ejs%>

    <% include templates/secondaryheader.ejs%>

    <% include templates/searchbar.ejs%>

    <h1>Write a review</h1>

    <div>
        <h2><b><%= stuff[0].name %></b></h2>
        <p>keywords:
            <a href="/search/try?field=<%= stuff[0].field %>"><%= stuff[0].field %></a>,
            <a href="/search/try?type=<%= stuff[0].type %>"><%= stuff[0].type %></a>,
            <a href="/search/try?brand=<%= stuff[0].brand %>"><%= stuff[0].brand %></a>
        </p>
        <img src='<%= stuff[0].image_1 %>'>
    </div>

    <div>
        <p>Your review</p>
        <form method="post" action="/review">
            <p>Select your rating:
                <span class="rating">
                    <input type="radio" id="star5" name="rating" value="5" /><label for="star5" title="Rocks!">5 stars</label>
                    <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="Pretty good">4 stars</label>
                    <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="Meh">3 stars</label>
                    <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="Kinda bad">2 stars</label>
                    <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="Sucks big time">1 star</label>
                </span>
            </p>
            <input type="text" name="comment" placeholder="Your review help others learn about medical products." required> <br>
            <input type="hidden" name="item" value="<%= stuff[0].id %>" />
            <button type="submit" value="Review">Post</button>
            <%if(h) { %>
            <a href="/">Cancel</a>
            <% }else{ %>
            <a href="javascript:history.back()">Cancel</a>
            <% } %>
        </form>
        <p>* You can edit or remove your review later</p>
    </div>
    <br>

    <h1>Pure CSS Star Rating Widget</h1>
    <fieldset class="rating">
        <input type="radio" id="star5" name="rating" value="5" /><label class = "full" for="star5" title="Awesome - 5 stars"></label>
        <input type="radio" id="star4half" name="rating" value="4 and a half" /><label class="half" for="star4half" title="Pretty good - 4.5 stars"></label>
        <input type="radio" id="star4" name="rating" value="4" /><label class = "full" for="star4" title="Pretty good - 4 stars"></label>
        <input type="radio" id="star3half" name="rating" value="3 and a half" /><label class="half" for="star3half" title="Meh - 3.5 stars"></label>
        <input type="radio" id="star3" name="rating" value="3" /><label class = "full" for="star3" title="Meh - 3 stars"></label>
        <input type="radio" id="star2half" name="rating" value="2 and a half" /><label class="half" for="star2half" title="Kinda bad - 2.5 stars"></label>
        <input type="radio" id="star2" name="rating" value="2" /><label class = "full" for="star2" title="Kinda bad - 2 stars"></label>
        <input type="radio" id="star1half" name="rating" value="1 and a half" /><label class="half" for="star1half" title="Meh - 1.5 stars"></label>
        <input type="radio" id="star1" name="rating" value="1" /><label class = "full" for="star1" title="Sucks big time - 1 star"></label>
        <input type="radio" id="starhalf" name="rating" value="half" /><label class="half" for="starhalf" title="Sucks big time - 0.5 stars"></label>
    </fieldset>

    <script>
        function check() {
            document.getElementById("star4half").checked = true;
        }
        var elems = document.getElementsByClassName("rating");
        for(var i = 0; i < elems.length; i++) {
            elems[i].disabled = true;
        }
        check()
    </script>



    <br>

    <% include templates/footerbar.ejs%>

</body>
</html>