<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
    <% include templates/navigation.ejs%>

    <% include templates/secondaryheader.ejs%>

    <% include templates/searchbar.ejs%>

    <h1>Search: <%= mysearch %> in <%= condition %></h1>

    <p>Showig 1-10 of 120</p>

    <% if (rows > 0) {%>
        <% for(var i=0; i<=rows-1; i++) {%>
            <a href="../item/<%= stuff[i].id %>">
                <h2><b><%= stuff[i].name %></b></h2>
            </a>
            <a href="../item/<%= stuff[i].id %>">
                <img src='http://www.svelar.com/images/items/<%= stuff[i].id %>.jpg'>
            </a>
            <% if (stuff[i].svelar == 1) { %>
    <p>Svelar</p>
    <% } %>
            <h3>Ratings</h3>
            <p>Confort: 3 </p>
            <p>Cost: 1 </p>
            <p>Easyness: 2</p>
            <h3>Description</h3>
            <pre><%= stuff[i].description %></pre>
            <button>Like!</button>
            <button>Dislike</button>
            <form method="get" action="/review/<%= stuff[i].id %>">
                <input type="submit" value="review">
            </form>
            <hr>
        <% }%>
    <%}else {%>
        <p>Results not found! Try to search with different words.</p>
    <%}%>

    <p>Page numbers!</p>

    <% include templates/footerbar.ejs%>

</body>
</html>