<div id="space_1" class="col-md-2">
    <!-- Done to create space -->
</div>
<!-- This is list column-->
<!-- Item image -->
<div id="prod_image_1" class="col-md-3">
    <a href="../item/<%= stuff[i].id %>">
        <img src="<%= stuff[i].image_1 %>">
    </a>
</div>
<!-- Item informaiton -->
<div id="content_prod" class="col-md-7">
    <!-- Item name and tag-->
    <div class="row" id="fourth_first">
        <div id="item_information" class="col-md-12">
            <% if(stuff[i].svelar == 1 && stuff[i].premium != 1){ %>
            <div id="svelar" class="col-md-2">
                <p>Svelar</p>
            </div>
            <div id="item_name" class="col-md-7">
                <a href="../item/<%= stuff[i].id %>">
                    <p><%= stuff[i].name %></p>
                </a>
            </div>
            <%}else if(stuff[i].premium == 1){%>
            <div id="ad" class="col-md-2">
                <p>AD</p>
            </div>
            <div id="item_name" class="col-md-7">
                <a href="../item/<%= stuff[i].id %>">
                    <p><%= stuff[i].name %></p>
                </a>
            </div>
            <%}else{%>
            <div id="item_name_reg" class="col-md-9">
                <a href="../item/<%= stuff[i].id %>">
                    <p><%= stuff[i].name %></p>
                </a>
            </div>
            <%}%>
        </div>
    </div>

    <!-- Ratings and buttons -->
    <div class="row" id="fourth_second">
        <div id="ratings" class="col-md-5">
            <p>
                Comfort:
                <% if(Math.round(stuff[i].average_rating_1)== 0){ %>
                <span id="starts">☆ ☆ ☆ ☆ ☆</span>
                <%}%>
                <% if(Math.round(stuff[i].average_rating_1)== 1){ %>
                <span id="starts">&#9733 ☆ ☆ ☆ ☆</span>
                <%}%>
                <% if(Math.round(stuff[i].average_rating_1)== 2){ %>
                <span id="starts">&#9733 &#9733 ☆ ☆ ☆</span>
                <%}%>
                <% if(Math.round(stuff[i].average_rating_1)== 3){ %>
                <span id="starts">&#9733 &#9733 &#9733 ☆ ☆</span>
                <%}%>
                <% if(Math.round(stuff[i].average_rating_1)== 4){ %>
                <span id="starts">&#9733 &#9733 &#9733 &#9733 ☆</span>
                <%}%>
                <% if(Math.round(stuff[i].average_rating_1)== 5){ %>
                <span id="starts">&#9733 &#9733 &#9733 &#9733 &#9733</span>
                <%}%>
                <br>
                Easyness:
                <% if(Math.round(stuff[i].average_rating_2)== 0){ %>
                <span id="starts">☆ ☆ ☆ ☆ ☆</span>
                <%}%>
                <% if(Math.round(stuff[i].average_rating_2)== 1){ %>
                <span id="starts">&#9733 ☆ ☆ ☆ ☆</span>
                <%}%>
                <% if(Math.round(stuff[i].average_rating_2)== 2){ %>
                <span id="starts">&#9733 &#9733 ☆ ☆ ☆</span>
                <%}%>
                <% if(Math.round(stuff[i].average_rating_2)== 3){ %>
                <span id="starts">&#9733 &#9733 &#9733 ☆ ☆</span>
                <%}%>
                <% if(Math.round(stuff[i].average_rating_2)== 4){ %>
                <span id="starts">&#9733 &#9733 &#9733 &#9733 ☆</span>
                <%}%>
                <% if(Math.round(stuff[i].average_rating_2)== 5){ %>
                <span id="starts">&#9733 &#9733 &#9733 &#9733 &#9733</span>
                <%}%>
                <br>
                Cost:
                <% if(Math.round(stuff[i].average_rating_3)== 0){ %>
                <span id="starts">☆ ☆ ☆ ☆ ☆</span>
                <%}%>
                <% if(Math.round(stuff[i].average_rating_3)== 1){ %>
                <span id="starts">&#9733 ☆ ☆ ☆ ☆</span>
                <%}%>
                <% if(Math.round(stuff[i].average_rating_3)== 2){ %>
                <span id="starts">&#9733 &#9733 ☆ ☆ ☆</span>
                <%}%>
                <% if(Math.round(stuff[i].average_rating_3)== 3){ %>
                <span id="starts">&#9733 &#9733 &#9733 ☆ ☆</span>
                <%}%>
                <% if(Math.round(stuff[i].average_rating_3)== 4){ %>
                <span id="starts">&#9733 &#9733 &#9733 &#9733 ☆</span>
                <%}%>
                <% if(Math.round(stuff[i].average_rating_3)== 5){ %>
                <span id="starts">&#9733 &#9733 &#9733 &#9733 &#9733</span>
                <%}%>
            </p>
        </div>
        <div id="button_block" class="col-md-4">
            <div class="row" id="fourth_second_first">
                <div id="likes_button" class="col-md-12">
                    <a href="/review/like?id=<%= stuff[i].id %>&like_status=1">Like!</a>
                    <a href="/review/like?id=<%= stuff[i].id %>&like_status=0">Dislike</a>
                </div>
            </div>
            <div class="row" id="fourth_second_second">
                <div id="review_button" class="col-md-12">
                    <a href="/review/item/<%= stuff[i].id %>"><span>☆</span> Review</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Description -->
    <div class="row" id="fourth_third">
        <div id="short_desc" class="col-md-8">
            <%= stuff[i].description.substring(0,150) %>...<a href="../item/<%= stuff[i].id %>">read more</a>
        </div>
    </div>
</div>

<div id="space_1" class="col-md-2">
    <!-- Done to create space -->
</div>